.tcard {
  width: 100%;
  height: 295px;
  border-radius: 16px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  background: var(--swiper-card-bg);
  color: var(--text-primary);

  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}

.tcard-quote {
  position: absolute;
  top: -16px;
  left: 24px;
  width: 44px;
  height: 44px;
}

.tcard-quote img {
  width: 100%;
  height: 100%;
  display: block;
}

.tcard-stars {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 8px;
}

.tcard-stars img {
  width: 18px;
  height: 18px;
}

.tcard-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  height: 95px;
  overflow: hidden;
  color: var(--text-primary);
}

.tcard-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  position: relative;
}

.tcard-name {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-primary);
}

.tcard-role {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-orange);
}

.tcard-avatar {
  width: 75px;
  height: 75px;
  border-radius: 999px;
  border: 2px solid #374151;
  position: absolute;
  top: 68px;
  object-fit: cover;
}
