@import "tailwindcss";

:root {
    color-scheme: light;
    --font-main: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --bg-primary: #ffffff;
    --text-primary: #111111;
    --text-secondary: #555555;
    --nav-bg: rgba(255, 255, 255, 0.85);
    --border-color: #e5e7eb;
    --card-bg: #f5f5f5;
    --swiper-card-bg: #FAFAFA;
    --swiper-backdrop: #ffffff;
    --footer-background: #FAFAFA;
    --text-orange: #ff6433;
    --background-orange: #ff6433;
    --text-white: #ffffff;
}

html.dark {
    color-scheme: dark;
    --bg-primary: #0b0b0b;
    --text-primary: #ffffff;
    --text-secondary: #9ca3af;
    --nav-bg: rgba(11, 11, 11, 0.9);
    --border-color: #252b37;
    --card-bg: #121212;
    --swiper-card-bg: #0A0D12;
    --swiper-backdrop: #000000;
    --footer-background: #0A0D12;
}

html{
    display: flex;
    justify-content: center; 
}

body {
    font-family: var(--font-main);
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
}


@media (max-width: 670px) {
    body {
        width: 100%;
    }
}